<footer>
    <section class="footer-top">
        <div class="footer-grid">
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">Useful Links</h2>
                <ul class="footer-grid__list">
                    <li class="footer-grid__link"><a href="/shipping-policy">Shipping Policy</a></li>
                    <li class="footer-grid__link"><a href="/privacy-policy">Privacy Policy</a></li>
                    <li class="footer-grid__link"><a href="/wholesale">Wholesale</a></li>
                    <li class="footer-grid__link"><a href="/about-us">About Us</a></li>
                    <li class="footer-grid__link"><a href="/contact-us">Contact Us</a></li>
                    <li class="footer-grid__link"><a href="/faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">Learn More</h2>
                <ul class="footer-grid__list">
                    <li class="footer-grid__link"><a href="/flower-moon-latte">What is a flower moon latte?</a></li>
                    <li class="footer-grid__link"><a href="/moon-grass">Is flower moon grass a drug?</a></li>
                    <li class="footer-grid__link"><a href="/matcha-recipes">Matcha recipes</a></li>
                    <li class="footer-grid__link"><a href="/moonshine">Moonshine</a></li>
                </ul>
            </div>
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">About Us</h2>
                <p class="footer-grid__details">Your tea farmers from the moon, growing totally-non-criminal tea leaves from an alternate universe!</p>
            </div>
        </div>
    </section>
    <section class="footer-mid">
        <!-- Additional content -->
    </section>
    <section class="footer-bottom">
        <!-- Additional content -->
    </section>
</footer>
