<footer>
    <section class="container with-background">
        <div class="subscription-form">
            <!-- TODO: Add a form that takes in user input to subscribe -->
        </div>
        <div class="footer-grid">
            <!-- TODO: Add a footer-->
        </div>
    </section>
</footer>