<footer>
    <section class="footer-top">
        <div class="footer-grid">
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">Useful Links</h2>
                <ul class="footer-grid__list">
                    <li class="footer-grid__link"><a>Shipping Policy</a></li>
                    <li class="footer-grid__link"><a>Privacy Policy</a></li>
                    <li class="footer-grid__link"><a>Wholesale</a></li>
                    <li class="footer-grid__link"><a>About Us</a></li>
                    <li class="footer-grid__link"><a>Contact Us</a></li>
                    <li class="footer-grid__link"><a>FAQs</a></li>
                </ul>
            </div>
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">Learn More</h2>
                <ul class="footer-grid__list">
                    <li class="footer-grid__link"><a>What is a flower moon latte?</a></li>
                    <li class="footer-grid__link"><a>Is flower moon grass a drug?</a></li>
                    <li class="footer-grid__link"><a>Matcha recipes</a></li>
                    <li class="footer-grid__link"><a>Moonshine</a></li>
                </ul>
            </div>
            <div class="footer-grid--item">
                <h2 class="footer-grid__name">About Us</h2>
                <p class="footer-grid__details">Your tea farmers from the moon, growing totally-non-criminal tea leaves from an alternate universe!</p>
            </div>
        </div>
    </section>
    <section class="footer-mid">

    </section>
    <section class="footer-bottom">
         
    </section>
</footer>