{{> header }}

<main class="gift-cards-page">
    <h1>Gift Cards</h1>
    <p>Give the gift of tea with our gift cards!</p>
    <!-- Add more content or dynamic gift card options here -->
</main>

{{> footer }}
