<main>
    <section class="welcome-section">
        <h2>Tea, steep nature in your cup</h2>
        <h3>Mission Statement Goes Here</h3>
    </section>
    <section class="who-we-are-section">
        <h3>Who We Are</h2>
        <!-- TODO: ADD CONTENT -->
    </section>
    <section class="contact-section">
        <h3>Contact Us</h2>
        <!-- TODO: ADD CONTENT; SET UP FORM -->
    </section>
</main>

