<main>
    <section class="banner-container">
        <img src="/images/banner-background.png" alt="Background" class="banner-background">
        <div class="banner-content">
            <h2 class="banner-content__heading">Welcome!</h2>
            <p class="banner-content__body">This site sells tea from the moon!</p>
            <button class="button banner-content__button">Shop Tea</button>
        </div>
    </section>
    <div class="featured-product">

    </div>
    <div class="featured-blog-post">

    </div>
</main>


