{{> header }}

<main class="profile-page">
    <h1>User Profile</h1>
    <div class="user-details">
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <!-- Additional user details here -->
    </div>
</main>

{{> footer }}
